<settings>


    <servers>
        <server>
            <id>nexus</id>
            <username>deployment</username>
            <password>deployment123</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>fusesource.repo</id>
            <repositories>
                <repository>
                    <id>fusesource.m2</id>
                    <name>FuseSource Community Release Repository</name>
                    <url>http://nexus-ci.cloudapps-078b.oslab.opentlc.com/content/repositories/fusesource.m2/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>fusesource.ea</id>
                    <name>FuseSource Community Early Access Release Repository</name>
                    <url>http://nexus-ci.cloudapps-078b.oslab.opentlc.com/content/repositories/fusesource.ea/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </repository>
                <repository>
                    <id>redhat.ga</id>
                    <name>Red Hat General Availability Repository</name>
                    <url>http://nexus-ci.cloudapps-078b.oslab.opentlc.com/content/repositories/jboss-ga/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>fusesource.m2</id>
                    <name>FuseSource Community Release Repository</name>
                    <url>http://nexus-ci.cloudapps-078b.oslab.opentlc.com/content/repositories/fusesource.m2/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>fusesource.ea</id>
                    <name>FuseSource Community Early Access Release Repository</name>
                    <url>http://nexus-ci.cloudapps-078b.oslab.opentlc.com/content/repositories/fusesource.ea/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </pluginRepository>
                <pluginRepository>
                    <id>redhat.ga</id>
                    <name>Red Hat General Availability Repository</name>
                    <url>http://nexus-ci.cloudapps-078b.oslab.opentlc.com/content/repositories/jboss-ga/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>never</updatePolicy>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>fusesource.repo</activeProfile>
    </activeProfiles>

</settings>
